/*
Margins of 20px made the spaces too large?
*/

div {
    height: 150px;
    width: 150px;
    background-color: red;
    margin-right: 5px;
    margin-bottom: 5px;
}

.row-one {
    display: inline-block;
    position: relative;
}

.row-two {
    display: inline-block;
    position: relative;
}

.row-three {
    display: inline-block;
    position: relative;
}