.cell {
    width: 150px;
    height: 150px;
    background-color: red;
    margin-right: 5px;
    margin-bottom: 5px;
}

/* Margins are not being achieved. Additional space (of 10px total) is coming from somewhere based on the margins working below. */

#first-container {
    height: 155px; /* height of the square + margin */
    width: 475px; /* Should be 465 but that width didn't let the third square show. Not sure why. */
    font-size: 0;
}

/* Without this, squares in the first row stack in the same spot. */
.row-one {
    display: inline-block;
}

.clearfix {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

/* The effect of clearfix class could also be achieved by adding a div underneath the three divs with class "clear" 
and property "clear: both". Less code. */

.float-left {
    float: left;
}

/* Makes squares in the line float left in the order they appear within the container. */

.third-container {
    height: 155px;
    width: 465px; /* 465 works here. */
}

.p-one {
    position: relative;
    top: 155px;
}

.p-two {
    position: relative;
    left: 155px; 
}

/* Both p-one and p-two are positioned relative to where it should have been in the div box which is the first square space. */

.p-three {
    position: absolute;
    left: 318px; /* This tells me this box is for some reason supposed to be positioned first on the fourth row? What is 
    pushing it down? */
}

/* Containers used to keep squares on each line as opposed to using <br> after each set of 3 divs*/