.cell {
    width: 150px;
    height: 150px;
    background-color: red;
    margin-right: 5px;
    margin-bottom: 5px;
}

/* Essential for divs within to show up.
*/
#first-container {
    height: 155px;
    width: 475px;
}

/* Without this, squares in the first row stack in the same spot.
*/
.row-one {
    display: inline-block;
}

.clearfix {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.float-left {
    float: left;
}

.clear {
    clear: both;
}

.third-container {
    height: 155px;
    width: 475px;
}

